*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(88, 88, 88);
}

.divStyle{
    background-color: lightgray;
    margin:0.5px;
}

.container{
    width: 961px;
    height: 960px;
    
    display:flex;
    flex-wrap: wrap; 
}

.rgbStyle{
    background-color: aqua;
}